<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sanity Test">
    <test name = "Calculator test">
        <classes>
            <class name = "test.MathOperationsIT" />
            <class name = "test.CalculatorUsagesIT" />
        </classes>
    </test>
</suite>